<form-crud #formView [pageTitle]="'Perfil'">

    <div class="row mb-2">
        <div class="col-16">
            <input-text label="Nome" compCtrl required [(ngModel)]="object.name" [minlength]="4"
                [maxlength]="255">
            </input-text>
        </div>
        <div class="col-8">
            <combobox label="Cargo" compCtrl="cargo" [ngModel]="object.role" enum="Roles" required [disabled]="true">
            </combobox>
        </div>
    </div>
    <div class="row" [ngClass]="{'mb-2': isStudant()}">
        <div [ngClass]="isStudant() ? 'col-12' : 'col-16'">
            <input-email label="Email" compCtrl [disabled]="true" required [ngModel]="object.email" [minlength]="4"
                [maxlength]="255">
            </input-email>
        </div>
        <div class="col-4" *ngIf="isStudant()">
            <input-number label="RA" compCtrl required [ngModel]="object.raSiape" [disabled]="true" [minlength]="6"
                [maxlength]="10">
            </input-number>
        </div>
        <div class="col-4">
            <combobox label="Tipo de Pessoa" compCtrl="type" [ngModel]="object.type" enum="UserType" required
            [disabled]="true">
            </combobox>
        </div>
        <div class="col-4">
            <ng-container *ngIf="object.type == PJ; else PFTemplate">
                <input-mask label="CNPJ" mask="cnpj" compCtrl="cnpj" required [ngModel]="object.cpfCnpj"
                    [minlength]="11" [maxlength]="20" [disabled]="true">
                </input-mask>
            </ng-container>
            <ng-template #PFTemplate>
                <input-mask label="CPF" mask="cpf" compCtrl="cpf" required [ngModel]="object.cpfCnpj"
                    [minlength]="11" [maxlength]="20" [disabled]="true">
                </input-mask>
            </ng-template>
        </div>
    </div>

</form-crud>
