<div class="form-group">
    <label [for]="id" *ngIf="!!label" class="form-label bold">{{label}}</label>

    <div class="position-relative" [ngClass]="{'d-flex': !vertical}">
        <div #input *ngFor="let option of options" [class]="class" [ngClass]="{'me-2': !vertical}">
            <p-radioButton
                [id]="id"
                [name]="name"
                [inputId]="option.key"
                [value]="option"
                [ngModel]="innerObject"
                [disabled]="disabled"
                (onClick)="writeValue(option)"/>
            <label [for]="option.key" class="ms-2">
                {{ option.value }}
            </label>
        </div>
        <invalid-info #invalid class="mr-icon-1" [causes]="invalidCause"></invalid-info>
    </div>
</div>
