<div class="row filter-row">
    <div class="px-0 w-max-content">
        <p-dropdown [options]="operatorsEntities" [(ngModel)]="operation" [focusOnHover]="true">
            <ng-template pTemplate="selectedItem">
                <div class="flex align-items-center gap-2" *ngIf="operation">
                    <i [class]="'fa ' + operation.icon"></i>
                </div>
            </ng-template>
            <ng-template let-operator pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <span>
                        <i [class]="'fa ' + operator.icon"></i>&nbsp;{{ operator.text }}
                    </span>
                </div>
            </ng-template>
        </p-dropdown>
    </div>
    <div class="col px-0">
        <input-number [(ngModel)]="value"></input-number>
    </div>
</div>
