<div class="form-group">
    <label [for]="id" *ngIf="!!label" class="form-label bold">{{label}}</label>

    <div class="position-relative">
        <input #input pInputText [class]="class" [id]="id" [name]="name" autocomplete="off"
            [maxlength]="maxlength" [placeholder]="placeholder" [disabled]="disabled" [(ngModel)]="innerValue"
            [type]="!!realPassword ? 'password' : 'text'"
            [ngClass]="{'password': visibilityType == 'password'}" />
        <i class="float-icon toggle-button fa" *ngIf="allowToggle" (click)="changevisibilityType()" [ngClass]="{
                'cursor-pointer': !disabled,
                'fa-eye': visibilityType == 'text',
                'fa-eye-slash': visibilityType == 'password'
            }">
        </i>
        <invalid-info #invalid class="float-icon invalid-info" [causes]="invalidCause"></invalid-info>
    </div>
</div>
