<div class="form-group">
    <label [for]="id" *ngIf="!!label" class="form-label bold">{{label}}</label>

    <div class="position-relative">
        <input #input pInputText [class]="class" [id]="id" [name]="name" [autocomplete]="name"
            [maxlength]="maxlength" [placeholder]="placeholder" [type]="fieldType" [disabled]="disabled"
            [(ngModel)]="innerValue" />
        <i class="float-icon toggle-button fa" (click)="changeFieldType()" [ngClass]="{
                'cursor-pointer': !disabled,
                'fa-eye': fieldType == 'text',
                'fa-eye-slash': fieldType == 'password'
            }">
        </i>
        <invalid-info #invalid class="float-icon invalid-info" [causes]="invalidCause"></invalid-info>
    </div>
</div>
