.login-body {
    background-image : url('../../../../assets/images/login-background.jpg');
    background-repeat: no-repeat;
    background-size  : cover;

    height    : 100vh;
    max-height: 100vh;
}

.login-panel {
    position : absolute;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
    width    : 100%;
}

.login-card {
    border-radius: var(--bs-border-radius-lg);
}

.display-grid {
    display: grid;
}
