.w-3rem {
    width: 3rem;
}

.h-3rem {
    height: 3rem;
}

.index-column {
    min-width: 40px;
    width: 40px;
    max-width: 40px;
}

.button-column {
    min-width: 40px;
    width: 40px;
    max-width: 40px;
}
