<form-crud #formView [pageTitle]="'Solicitação'">

    <div class="row mb-2">
        <div class="col-24">
            <p-stepper #stepper [linear]="true" [(activeStep)]="activeStep"
                (activeStepChange)="onChangeStep()">
                <p-stepperPanel>
                    <ng-template pTemplate="header" let-index="index">
                        <span
                            class="d-flex text-dark rounded border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                            [ngClass]="{
                                'bg-primary border-primary text-white': index <= activeStep,
                                'border': index > activeStep
                            }">
                            <i class="fa fa-exclamation"></i>
                        </span>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <h2 class="text-center pb-2 text-decoration-underline text-danger">
                            IMPORTANTE
                        </h2>
                        <p>
                            Solicita-se que o nome <b>CENTRAL DE ANÁLISES &minus; UTFPR Campus Pato
                                Branco</b>
                            seja mencionado nos agradecimentos em todos os tipos de publicações que
                            resultarem da utilização de suas instalações.
                        </p>
                        <p>
                            Solicita-se que os arquivos com as referências de todos os tipos de trabalhos
                            (comunicações em congressos, trabalhos completos, monografias, etc.) sejam
                            enviados para o e-mail da Central de Análises.
                        </p>
                    </ng-template>
                </p-stepperPanel>

                <p-stepperPanel>
                    <ng-template pTemplate="header" let-index="index">
                        <span
                            class="d-flex text-dark rounded border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                            [ngClass]="{
                                    'bg-primary border-primary text-white': index <= activeStep,
                                    'border': index > activeStep
                                }">
                            <i class="fal fa-file-signature"></i>
                        </span>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <h2 class="text-center pb-2 text-decoration-underline text-warning">
                            OS USUÁRIOS SE COMPROMETEM EM:
                        </h2>
                        <ol>
                            <li class="mb-1">
                                <p>
                                    Providenciar a preparação das amostras (verificar os métodos de
                                    preparação
                                    para a amostra de interesse, etc.) antecipadamente na Central de
                                    Análises
                                    ou em outro local;
                                </p>
                            </li>
                            <li class="mb-1">
                                <p>
                                    Interpretar os resultados fornecidos;
                                </p>
                            </li>
                            <li class="mb-1">
                                <p>
                                    Chegar no horário estipulado (em caso de atraso, a reserva será
                                    transferida para outro usuário após 15 minutos);
                                </p>
                            </li>
                            <li class="mb-1">
                                <p>
                                    Avisar ao responsável pelo equipamento, com no mínimo 24 horas de
                                    antecedência, quando não puder comparecer no horário estipulado;
                                </p>
                            </li>
                            <li class="mb-1">
                                <p>
                                    Respeitar os horários estipulados, de modo a não interferir nos
                                    horários
                                    de outros usuários.
                                </p>
                            </li>
                        </ol>
                    </ng-template>
                </p-stepperPanel>

                <p-stepperPanel>
                    <ng-template pTemplate="header" let-index="index">
                        <span
                            class="d-flex text-dark rounded border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                            [ngClass]="{
                                'bg-primary border-primary text-white': index <= activeStep,
                                'border': index > activeStep
                            }">
                            <i class="fa fa-file-circle-info"></i>
                        </span>
                    </ng-template>

                    <ng-template pTemplate="content" let-prevCallback="prevCallback"
                        let-nextCallback="nextCallback">
                        <div class="row mb-2">
                            <div class="col-24">
                                <h4 class="text-center">Informações das Amostras</h4>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-24">
                                <ol>
                                    <li class="mb-2">
                                        <b>RETIRADA</b>
                                        <div class="row mb-2">
                                            <div class="col-24">
                                                Deseja buscar/obter suas amostras já analisadas de volta?
                                                <div class="row mb-2">
                                                    <div class="col-24">
                                                        <radio-button [(ngModel)]="object.form.retirada"
                                                            enum="RetiradaAmostra">
                                                        </radio-button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mb-2">
                                        <b>REPETIÇÃO DE ANÁLISES</b>
                                        <div class="row mb-2">
                                            <div class="col-24">
                                                Caso seja necessário repetir a análise de alguma amostra,
                                                entrar em contato
                                                dentro do prazo de 7 dias.
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mb-2">
                                        <b>DESCARTE</b>
                                        <div class="row mb-2">
                                            <div class="col-24">
                                                <p>
                                                    Seguindo Protocolo de "Normas Gerais de Gerenciamento de
                                                    Resíduos Químicos
                                                    no Instituto de Química - Unesp Revisão 2017" e também do
                                                    guia da UTFPR,
                                                    para RESÍDUOS DE LABORATÓRIOS. (acessados em :
                                                    <a href="https://drive.google.com/file/d/1VpqnpSd0GMohhL2BKlZsaKlpr7sxdRKc/view"
                                                        target="_blank">
                                                        https://drive.google.com/file/d/1VpqnpSd0GMohhL2BKlZsaKlpr7sxdRKc/view</a>)
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mb-2">
                                        <b>CITAÇÃO</b>
                                        <div class="row mb-2">
                                            <div class="col-24">
                                                <checkbox [(ngModel)]="object.form.citacao"
                                                    [label]="'Aceito e me comprometo a mencionar a \'Central de Análises - UTFPR Campus Pato Branco\' nos agradecimentos em todos os tipos de publicações que resultarem da utilização de suas instalações.'" />
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </ng-template>
                </p-stepperPanel>

                <p-stepperPanel>
                    <ng-template pTemplate="header" let-index="index">
                        <span
                            class="d-flex text-dark rounded border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                            [ngClass]="{
                                'bg-primary border-primary text-white': index <= activeStep,
                                'border': index > activeStep
                            }">
                            <i class="fa fa-file-lines"></i>
                        </span>
                    </ng-template>
                    <ng-template pTemplate="content" let-prevCallback="prevCallback"
                        let-nextCallback="nextCallback">

                        <ng-container *ngTemplateOutlet="formulario"></ng-container>
                    </ng-template>
                </p-stepperPanel>

                <p-stepperPanel>
                    <ng-template pTemplate="header" let-index="index">
                        <span
                            class="d-flex text-dark rounded border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                            [ngClass]="{
                                'bg-primary border-primary text-white': index <= activeStep,
                                'border': index > activeStep
                            }">
                            <i class="fa fa-file-circle-check"></i>
                        </span>
                    </ng-template>

                    <ng-template pTemplate="content" let-prevCallback="prevCallback">
                        <h3 class="m-0 text-center">Informações adicionais das Amostras</h3>

                        <ng-container *ngIf="['AA', 'AW', 'CLAE', 'COR'].includes(getSolicitationType())">
                            <ng-container *ngFor="let amostra of object.form.amostras; let index = index">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th colspan="3" style="background-color: var(--green-300);">
                                                <h4 class="mb-0 text-center">
                                                    Amostra nº {{index +1}}
                                                    <i class="far fa-copy float-right"
                                                        *ngIf="object.form.amostras.length > 1"
                                                        ngxTooltip="Replicar Dados" arrow
                                                        (click)="onClickReplicarDadosAmostras(index)">
                                                    </i>
                                                </h4>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>Identificação</th>
                                            <th>Descrição</th>
                                            <th>Quantidade de leituras por amostra</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input-text compCtrl="Identificação" required disabled
                                                    [ngModel]="amostra.identification">
                                                </input-text>
                                            </td>
                                            <td>
                                                <input-text compCtrl="Descrição" disabled
                                                    [ngModel]="amostra.description">
                                                </input-text>
                                            </td>
                                            <td>
                                                <input-number compCtrl="Quantidade de leituras por amostra"
                                                    required disabled [ngModel]="amostra.leituras"
                                                    [maxlength]="2">
                                                </input-number>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="99">
                                                <div class="row mb-2">
                                                    <div class="col-24">
                                                        <ol>
                                                            <li class="mb-2">
                                                                <b>COMPOSIÇÃO</b>
                                                                <div class="row mb-2">
                                                                    <div class="col-24">
                                                                        <ol type="a">
                                                                            <li class="mb-2">
                                                                                <input-text
                                                                                    label="Composição da Amostra"
                                                                                    compCtrl required
                                                                                    [(ngModel)]="amostra.composicao">
                                                                                </input-text>
                                                                            </li>
                                                                            <li class="mb-2">
                                                                                <radio-button
                                                                                    label="É tóxica?" compCtrl
                                                                                    [(ngModel)]="amostra.toxic"
                                                                                    enum="Boolean" required
                                                                                    [vertical]="false">
                                                                                </radio-button>
                                                                            </li>
                                                                        </ol>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li *ngIf="object.form.retirada == 'TRUE'">
                                                                <div class="row mb-2">
                                                                    <div class="col-24">
                                                                        <radio-button
                                                                            label="Natureza da Amostra"
                                                                            compCtrl required
                                                                            [(ngModel)]="amostra.naturezaAmostra"
                                                                            enum="NaturezaAmostra"
                                                                            (onChange)="onChangeNaturezaAmostra()">
                                                                        </radio-button>
                                                                    </div>
                                                                </div>

                                                                <div class="row mb-2">
                                                                    <div class="col-24 table-responsive">
                                                                        <table
                                                                            class="table table-striped table-bordered">
                                                                            <tbody>
                                                                                <tr
                                                                                    *ngIf="amostra.naturezaAmostra == NATUREZA_ORGANICA_ORGANICA">
                                                                                    <td colspan="2">
                                                                                        <radio-button
                                                                                            [(ngModel)]="amostra.descarteOrganico"
                                                                                            enum="DescarteOrganico"
                                                                                            compCtrl="Descartes - Orgânico"
                                                                                            required
                                                                                            (onChange)="onChangeDescarteOrganico()">
                                                                                        </radio-button>
                                                                                        <input-text
                                                                                            label="Outro"
                                                                                            compCtrl required
                                                                                            *ngIf="amostra.descarteOrganico == OPCAO_OUTRO"
                                                                                            [(ngModel)]="amostra.descarteOrganicoOutro">
                                                                                        </input-text>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr
                                                                                    *ngIf="amostra.naturezaAmostra == NATUREZA_ORGANICA_INORGANICA">
                                                                                    <td colspan="2">
                                                                                        <radio-button
                                                                                            [(ngModel)]="amostra.descarteInorganico"
                                                                                            enum="DescarteInorganico"
                                                                                            compCtrl="Descartes - Inorgânico"
                                                                                            required
                                                                                            (onChange)="onChangeDescarteInorganico()">
                                                                                        </radio-button>
                                                                                        <input-text
                                                                                            label="Outro"
                                                                                            compCtrl required
                                                                                            *ngIf="amostra.descarteInorganico == OPCAO_OUTRO"
                                                                                            [(ngModel)]="amostra.descarteInorganicoOutro">
                                                                                        </input-text>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                                        Recomendação de
                                                                                        descarte
                                                                                        pelo usuário
                                                                                        <radio-button
                                                                                            [(ngModel)]="amostra.descarteUsuario"
                                                                                            enum="DescarteUsuario"
                                                                                            compCtrl="Descartes - Usuário"
                                                                                            required
                                                                                            (onChange)="onChangeDescarteUsuario()">
                                                                                        </radio-button>
                                                                                        <input-textarea
                                                                                            label="Outro"
                                                                                            compCtrl required
                                                                                            *ngIf="amostra.descarteUsuario == OPCAO_OUTRO"
                                                                                            [(ngModel)]="amostra.descarteUsuarioOutro">
                                                                                        </input-textarea>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ol>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <hr *ngIf="index - 1 < object.form.amostras.length">
                            </ng-container>
                        </ng-container>
                    </ng-template>
                </p-stepperPanel>
            </p-stepper>
        </div>
    </div>

    <ng-template #formulario>
        <ng-container>
            <div class="row mb-2">
                <div class="col-24">
                    <combobox label="Projeto" compCtrl required
                        [filterBy]="'id,subject,description,user.name'" [options]="projetos"
                        [(ngModel)]="object.project" (onChange)="onChangeProject($event)">
                    </combobox>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-24">
                    <combobox label="Responsável" compCtrl disabled [filterBy]="'id,name,email'"
                        [options]="!!responsavel ? [responsavel] : []" [ngModel]="responsavel">
                    </combobox>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-24">
                    <combobox label="Natureza do Projeto" [ngModel]="object.projectNature"
                        enum="SolicitationProjectNature" compCtrl disabled required>
                    </combobox>
                </div>
            </div>

            <div class="row mb-2" *ngIf="object.projectNature == OPCAO_OUTRO">
                <div class="ms-auto col-23">
                    <input-text label="Outra Natureza" compCtrl disabled required
                        [ngModel]="object.otherProjectNature">
                    </input-text>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-24">
                    <combobox label="Formulário de Solicitação" [(ngModel)]="object.solicitationType"
                        enum="SolicitationFormType" compCtrl required>
                    </combobox>
                </div>
            </div>
        </ng-container>

        <hr>

        <ng-container *ngIf="['AA', 'AW', 'CLAE', 'COR'].includes(getSolicitationType())">
            <ng-container *ngTemplateOutlet="tableAmostrasSimples"></ng-container>
        </ng-container>

        <ng-container *ngIf="getSolicitationType() == 'AA'">
            <div class="row mb-2">
                <div class="col-24">
                    <input-textarea label="Metodologia" compCtrl required
                        [(ngModel)]="object.form.methodologyDescription" [maxlength]="255"
                        [placeholder]="'Descreva detalhadamente a metodologia de preparo que será adotada para as amostras a serem analisadas, incluindo todas as etapas que garantam a qualidade e a reprodutibilidade do processo.'">
                    </input-textarea>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-24">
                    <input-textarea label="Limites" compCtrl required
                        [(ngModel)]="object.form.limitesConcentracao" [maxlength]="255"
                        [placeholder]="'Limites mínimo e máximo de concentração das amostras.'">
                    </input-textarea>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-24">
                    <radio-button label="Forno" compCtrl required [(ngModel)]="object.form.forno"
                        enum="AAForno" [vertical]="false">
                    </radio-button>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-24">
                    <periodic-table label="Elementos para analisar" compCtrl required
                        [(ngModel)]="object.form.elementos">
                    </periodic-table>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-24">
                    <input-textarea label="Concentrações" compCtrl [(ngModel)]="object.form.curvaConcentracao"
                        [maxlength]="255"
                        [placeholder]="'Concentrações da curva de calibração.\nPadrão: 20; 15; 10; 5; 2,5; 1; 0,5 e 0,1 ppm (mg/L).'">
                    </input-textarea>
                    <b>Caso a faixa de concentração da amostra não estiver dentro desta faixa, o usuário
                        será responsável por trazer a curva em concentrações adequadas para cada elemento
                        analisado.
                    </b>
                </div>
            </div>

        </ng-container>

        <ng-container *ngIf="getSolicitationType() == 'CLAE'">
            <div class="row mb-2">
                <div class="col-24">
                    <input-text label="Coluna" compCtrl required [ngModel]="object.form.coluna">
                    </input-text>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-12">
                    <input-number label="Fluxo (mL.min-1)" compCtrl required [(ngModel)]="object.form.fluxo"
                        [maxFractionDigits]="6" [maxlength]="15">
                    </input-number>
                </div>
                <div class="col-12">
                    <input-number label="Tempo de análise (min)" compCtrl required
                        [(ngModel)]="object.form.tempoAnalise" [maxFractionDigits]="2" [maxlength]="11">
                    </input-number>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-12">
                    <input-number label="Volume injetado (µL)" compCtrl required
                        [(ngModel)]="object.form.volumeInjetado" [maxFractionDigits]="6" [maxlength]="15">
                    </input-number>
                </div>
                <div class="col-12">
                    <input-number label="Temperatura do forno da coluna (°C)" compCtrl required
                        [(ngModel)]="object.form.temperaturaFornoColuna" [maxFractionDigits]="2"
                        [maxlength]="11">
                    </input-number>
                </div>
            </div>

            <hr>

            <h5 class="text-center mb-0">Detector(es) desejado(s):</h5>

            <div class="row mb-2">
                <div class="col-24">
                    <checkbox [(ngModel)]="object.form.utilizaPDA" [label]="'PDA'" />
                </div>
            </div>

            <div class="row mb-2" *ngIf="object.form.utilizaPDA">
                <div class="col-12">
                    <input-number label="Comprimento de onda - Canal 1 (nm)" compCtrl required
                        [(ngModel)]="object.form.compOndaCanal1" [maxFractionDigits]="6" [maxlength]="15">
                    </input-number>
                </div>
                <div class="col-12">
                    <input-number label="Comprimento de onda - Canal 2 (nm)" compCtrl required
                        [(ngModel)]="object.form.compOndaCanal2" [maxFractionDigits]="6" [maxlength]="15">
                    </input-number>
                </div>
            </div>

            <hr>

            <h5 class="text-center mb-0">Modo de eluição:</h5>

            <div class="row mb-2">
                <div class="col-24">
                    <radio-button [(ngModel)]="object.form.modoEluicao" compCtrl="Modo de eluição" required
                        enum="CLAEModoEluicao" [vertical]="false">
                    </radio-button>
                </div>
            </div>

            <div class="row mb-2" *ngIf="object.form.modoEluicao == 'ISO'">
                <div class="col-24">
                    <input-text label="Composição da fase móvel" compCtrl required
                        [ngModel]="object.form.composicaoFaseMovel">
                    </input-text>
                </div>
            </div>
            <div class="row mb-2" *ngIf="object.form.modoEluicao == 'GRA'">
                <div class="col-24">
                    <input-text label="Descrever as condições" compCtrl required
                        [ngModel]="object.form.condicoesGradiente">
                    </input-text>
                </div>
            </div>


        </ng-container>

        <ng-container *ngIf="getSolicitationType() == 'COR'">
            <div class="row mb-2">
                <div class="col-24">
                    <input-text label="Localização das medições" compCtrl required
                        [ngModel]="object.form.locationMed"
                        placeholder="Exemplo em frutas: medições na região lateral, superior, inferior, etc.. ">
                    </input-text>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-24">
                    <radio-button label="Leitura" [(ngModel)]="object.form.tipoLeitura" compCtrl required
                        enum="CORTipoLeitura" [vertical]="false">
                    </radio-button>
                </div>
            </div>
        </ng-container>

        DESENVOLVER FORMULÁRIOS AQUI

        <hr>

        <div class="row mb-2">
            <div class="col-24">
                <input-textarea label="Observações adicionais" compCtrl [(ngModel)]="object.observation"
                    [maxlength]="255">
                </input-textarea>
            </div>
        </div>
    </ng-template>

    <ng-template #tableAmostrasSimples>
        <div class="row mb-2">
            <div class="col-24 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th colspan="6">
                                <h3 class="m-0 text-center">Amostras</h3>
                            </th>
                        </tr>
                        <tr>
                            <th class="index-column">Nº</th>
                            <th class="button-column"></th>
                            <th class="button-column"></th>
                            <th class="">Identificação</th>
                            <th class="">Descrição</th>
                            <th class="">Quantidade de leituras por amostra</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let amostra of object.form.amostras; let index = index">
                            <td>
                                <b>{{index +1}}</b>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-success" (click)="onClickAddAmostra()">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-danger" (click)="onClickRemoveAmostra(index)">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </td>
                            <td>
                                <input-text compCtrl="Identificação" required
                                    [(ngModel)]="amostra.identification">
                                </input-text>
                            </td>
                            <td>
                                <input-text compCtrl="Descrição" [(ngModel)]="amostra.description">
                                </input-text>
                            </td>
                            <td>
                                <input-number compCtrl="Quantidade de leituras por amostra" required
                                    [(ngModel)]="amostra.leituras" [maxlength]="2">
                                </input-number>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </ng-template>

    <div bbuttons>
        <ng-container *ngIf="activeStep > 0">
            <button class="btn btn-sm btn-primary" (click)="onClickVoltarStep()">
                <i class="fa fa-arrow-left"></i>
                Voltar
            </button>
        </ng-container>
    </div>

    <div arbuttons>
        <ng-container *ngIf="hasViewInitializated">
            <ng-container *ngIf="activeStep < (stepper.panels.length -1); else finalizarButtonTemplate">
                <button class="btn btn-sm btn-primary" (click)="onClickAvancarStep()"
                    [disabled]="disableButtonAvancar()">
                    Avançar
                    <i class="fa fa-arrow-right"></i>
                </button>
            </ng-container>

            <ng-template #finalizarButtonTemplate>
                <button class="btn btn-sm btn-primary" [disabled]="disableButtonAvancar()"
                    (click)="onClickFinalizar()">
                    Concluir
                </button>
            </ng-template>
        </ng-container>
    </div>
</form-crud>
