<form-crud #formView [title]="'Solicitação'">
    <div class="row mb-2">
        <div class="col-24">
            <p-stepper #stepper [linear]="true" [(activeStep)]="activeStep"
                (activeStepChange)="onChangeStep()">
                <p-stepperPanel>
                    <ng-template pTemplate="header" let-index="index">
                        <span
                            class="d-flex text-dark rounded border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                            [ngClass]="{
                                'bg-primary border-primary text-white': index <= activeStep,
                                'border': index > activeStep
                            }">
                            <i class="fa fa-exclamation"></i>
                        </span>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <h2 class="text-center pb-2 text-decoration-underline text-danger">
                            IMPORTANTE
                        </h2>
                        <p>
                            Solicita-se que o nome <b>CENTRAL DE ANÁLISES &minus; UTFPR Campus Pato
                                Branco</b>
                            seja mencionado nos agradecimentos em todos os tipos de publicações que
                            resultarem da utilização de suas instalações.
                        </p>
                        <p>
                            Solicita-se que os arquivos com as referências de todos os tipos de trabalhos
                            (comunicações em congressos, trabalhos completos, monografias, etc.) sejam
                            enviados para o e-mail da Central de Análises.
                        </p>
                    </ng-template>
                </p-stepperPanel>

                <p-stepperPanel>
                    <ng-template pTemplate="header" let-index="index">
                        <span
                            class="d-flex text-dark rounded border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                            [ngClass]="{
                                    'bg-primary border-primary text-white': index <= activeStep,
                                    'border': index > activeStep
                                }">
                            <i class="fal fa-file-signature"></i>
                        </span>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <h2 class="text-center pb-2 text-decoration-underline text-warning">
                            OS USUÁRIOS SE COMPROMETEM EM:
                        </h2>
                        <ol>
                            <li class="mb-1">
                                <p>
                                    Providenciar a preparação das amostras (verificar os métodos de
                                    preparação
                                    para a amostra de interesse, etc.) antecipadamente na Central de
                                    Análises
                                    ou em outro local;
                                </p>
                            </li>
                            <li class="mb-1">
                                <p>
                                    Interpretar os resultados fornecidos;
                                </p>
                            </li>
                            <li class="mb-1">
                                <p>
                                    Chegar no horário estipulado (em caso de atraso, a reserva será
                                    transferida para outro usuário após 15 minutos);
                                </p>
                            </li>
                            <li class="mb-1">
                                <p>
                                    Avisar ao responsável pelo equipamento, com no mínimo 24 horas de
                                    antecedência, quando não puder comparecer no horário estipulado;
                                </p>
                            </li>
                            <li class="mb-1">
                                <p>
                                    Respeitar os horários estipulados, de modo a não interferir nos
                                    horários
                                    de outros usuários.
                                </p>
                            </li>
                        </ol>
                    </ng-template>
                </p-stepperPanel>

                <p-stepperPanel>
                    <ng-template pTemplate="header" let-index="index">
                        <span
                            class="d-flex text-dark rounded border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                            [ngClass]="{
                                'bg-primary border-primary text-white': index <= activeStep,
                                'border': index > activeStep
                            }">
                            <i class="fa fa-file-circle-info"></i>
                        </span>
                    </ng-template>

                    <ng-template pTemplate="content">
                        <div class="row mb-2">
                            <div class="col-24">
                                <h4 class="text-center">Informações das Amostras</h4>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-24">
                                <ol>
                                    <li class="mb-2">
                                        <b>RETIRADA</b>
                                        <div class="row mb-2">
                                            <div class="col-24">
                                                Deseja buscar/obter suas amostras já analisadas de volta?
                                                <div class="row mb-2">
                                                    <div class="col-24">
                                                        <radio-button [(ngModel)]="object.form.retirada"
                                                            enum="RetiradaAmostra">
                                                        </radio-button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mb-2">
                                        <b>REPETIÇÃO DE ANÁLISES</b>
                                        <div class="row mb-2">
                                            <div class="col-24">
                                                Caso seja necessário repetir a análise de alguma amostra,
                                                entrar em contato
                                                dentro do prazo de 7 dias.
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mb-2">
                                        <b>DESCARTE</b>
                                        <div class="row mb-2">
                                            <div class="col-24">
                                                <p>
                                                    Seguindo Protocolo de "Normas Gerais de Gerenciamento de
                                                    Resíduos Químicos
                                                    no Instituto de Química - Unesp Revisão 2017" e também do
                                                    guia da UTFPR,
                                                    para RESÍDUOS DE LABORATÓRIOS. (acessados em :
                                                    <a href="https://drive.google.com/file/d/1VpqnpSd0GMohhL2BKlZsaKlpr7sxdRKc/view"
                                                        target="_blank">
                                                        https://drive.google.com/file/d/1VpqnpSd0GMohhL2BKlZsaKlpr7sxdRKc/view</a>)
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </ng-template>
                </p-stepperPanel>

                <p-stepperPanel>
                    <ng-template pTemplate="header" let-index="index">
                        <span
                            class="d-flex text-dark rounded border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                            [ngClass]="{
                                'bg-primary border-primary text-white': index <= activeStep,
                                'border': index > activeStep
                            }">
                            <i class="fa fa-file-lines"></i>
                        </span>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <solicitar-formulario-template #formularioTemplate [(ngModel)]="object">
                        </solicitar-formulario-template>
                    </ng-template>
                </p-stepperPanel>

                <p-stepperPanel>
                    <ng-template pTemplate="header" let-index="index">
                        <span
                            class="d-flex text-dark rounded border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                            [ngClass]="{
                                'bg-primary border-primary text-white': index <= activeStep,
                                'border': index > activeStep
                            }">
                            <i class="fa fa-diploma"></i>
                        </span>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <ng-container *ngTemplateOutlet="termosTemplate"></ng-container>
                    </ng-template>
                </p-stepperPanel>
            </p-stepper>
        </div>
    </div>

    <ng-template #termosTemplate>
        <div class="row">
            <div class="col-24">
                <h2 class="text-center text-decoration-underline text-danger">
                    Termos de Uso
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-24">
                <b>CITAÇÃO</b>
                <div class="row mb-2">
                    <div class="col-24">
                        <checkbox [(ngModel)]="object.form.citacao" required compCtrl="citacao"
                            [label]="'Aceito e me comprometo a mencionar a \'Central de Análises - UTFPR Campus Pato Branco\' nos agradecimentos em todos os tipos de publicações que resultarem da utilização de suas instalações.'" />
                    </div>
                </div>
            </div>
        </div>

        <p-accordion #accordionTermos class="w-full" expandIcon="fa fa-plus" collapseIcon="fa fa-minus"
            [multiple]="true" [activeIndex]="activeIndexTermsOfUse">
            <p-accordionTab *ngFor="let term of object.termsOfUses">
                <ng-template pTemplate="header">
                    <b>{{term.termofuse.title}}</b>
                </ng-template>
                <div [quillReader]="term.termofuse.form"></div>
                <div class="mt-2">
                    <checkbox [(ngModel)]="term.accepted" required compCtrl="Termo"
                        [label]="term.termofuse.description" />
                </div>
            </p-accordionTab>
        </p-accordion>
    </ng-template>

    <div bbuttons>
        <ng-container *ngIf="activeStep > 0">
            <button class="btn btn-sm btn-primary" (click)="onClickVoltarStep()">
                <i class="fa fa-arrow-left"></i>
                Voltar
            </button>
        </ng-container>
    </div>

    <div arbuttons>
        <ng-container *ngIf="hasViewInitializated">
            <ng-container *ngIf="disableButtonAvancar()">
                <button class="btn btn-sm btn-primary me-2" (click)="validateForm(true)">
                    Verificar
                </button>
            </ng-container>

            <ng-container *ngIf="activeStep < (stepper.panels.length -1); else finalizarButtonTemplate">
                <button class="btn btn-sm btn-primary" (click)="onClickAvancarStep()"
                    [disabled]="disableButtonAvancar()">
                    Avançar
                    <i class="fa fa-arrow-right"></i>
                </button>
            </ng-container>

            <ng-template #finalizarButtonTemplate>
                <button class="btn btn-sm btn-primary" [disabled]="disableButtonAvancar()"
                    (click)="onClickFinalizar()">
                    Concluir
                </button>
            </ng-template>

        </ng-container>
    </div>
</form-crud>
