.w-3rem {
    width: 3rem;
}

.h-3rem {
    height: 3rem;
}

.index-column {
    min-width: 32px;
    width: 32px;
    max-width: 32px;
}

.button-column {
    min-width: 32px;
    width: 32px;
    max-width: 32px;
    padding-left: 0px;
    padding-right: 0px;
}

.min-180 {
    min-width: 180px;
}

.min-250 {
    min-width: 250px;
}

.vertical-middle {
    vertical-align: middle;
}
