<div class="form-group">
    <label [for]="id" *ngIf="!!label" class="form-label bold">{{label}}</label>

    <div class="position-relative" [ngxTooltip]="displayValue" [tooltipDisabled]="!displayValue" arrow>
        <p-dropdown #input [id]="id" [name]="name" [options]="opcoesFiltradas" [ngModel]="innerObject"
            [focusOnHover]="true" [disabled]="disabled" [readonly]="disabled" [optionLabel]="!!_enum ? 'key' : 'id'"
            [showClear]="showClear && !disabled && !!innerObject" [class]="class" (onClear)="forceClear()"
            (onChange)="onChangeDropdown($event.value)" [filterBy]="filterBy" [filter]="!!filterBy"
            [placeholder]="placeholder">

            <ng-template pTemplate="selectedItem">
                <span>{{displayValue}}</span>
            </ng-template>
            <ng-template let-item pTemplate="item">
                <span>{{getMapDisplay(item)}}</span>
            </ng-template>
        </p-dropdown>

        <invalid-info #invalid class="mr-icon-1" [causes]="invalidCause"></invalid-info>
    </div>
</div>
