.column-codigo {
    width: 60px;
    min-width: 60px;
}

.column-number {
    min-width: 100px;
    width: 100px;
}

.column-valor {
    width: 110px;
    min-width: 110px;
}

td {
    vertical-align: middle;
}
