@import './assets/themes/bootstrap4-light-blue.scss';
@import '../node_modules/primeicons/primeicons.css';

$font-size-default: 13px;

* {
    font-size: $font-size-default;
}

body {
    background-color: var(--green-100);
}

.row {
    margin-left : 0 !important;
    margin-right: 0 !important;
}

.cursor-pointer {
    cursor: pointer;
}

.small-text {
    font-size  : ($font-size-default - 2px);
    color      : var(--surface-600);
    font-weight: bold;
    line-height: 1;
}

p.link.small-text {
    color: var(--blue-300);

    &:hover {
        text-decoration: underline;
    }
}

p {
    display       : inline-block;
    vertical-align: top;
}

.form-label {
    margin-bottom: inherit;
}

.w-100 {
    min-width: 100%;
}

.w-100vw {
    min-width: 100vw;
}

.h-100 {
    min-height: 100%;
}

.h-100vh {
    min-height: 100vh;
}

.text-right {
    text-align: right;
}

.bold {
    font-weight: bold;
}

form-list form-base form,
form-crud form-base form {
    background   : var(--surface-0);
    border-radius: 5px;
}

.w-max-content {
    width: max-content;
}

// .ng-content {
//     overflow: auto;
// }

@for $i from 0 through 5 {
    invalid-info {
        &.mr-icon-#{$i} {
            margin-right: -6px !important;
        }
    }

    .mr-icon-#{$i} {
        position : absolute;
        top      : 50%;
        transform: translateY(-50%);
        right    : 0;

        margin-right: if($i==0, 12px, $i * 12px + 20px);
    }
}

.text-ellipsis {
    white-space  : nowrap !important;
    text-overflow: ellipsis;
    overflow     : hidden;
    display      : block;
}
