input,
textarea {
    &.required {
        border-left  : 3px solid var(--bs-form-invalid-color);
        border-bottom: 1px solid var(--bs-form-invalid-color);
    }

    &.valid {
        border-left-color  : var(--bs-form-valid-color) !important;
        border-bottom-color: var(--bs-form-valid-color) !important;
    }
}

periodic-table div:first-of-type {
    &.required {
        border-left  : 4px solid var(--bs-form-invalid-color);
        border-bottom: 2px solid var(--bs-form-invalid-color);
    }

    &.valid {
        border-left-color  : var(--bs-form-valid-color) !important;
        border-bottom-color: var(--bs-form-valid-color) !important;
    }
}

radio-button {
    & .required {
        & div.p-radiobutton-box {
            border-left-color  : var(--bs-form-invalid-color);
            border-bottom-color: var(--bs-form-invalid-color);
        }
    }

    & .valid {
        & div.p-radiobutton-box {
            border-left-color  : var(--bs-form-valid-color) !important;
            border-bottom-color: var(--bs-form-valid-color) !important;
        }
    }
}

p-inputmask.required:has(input) {
    input {
        border-left  : 3px solid var(--bs-form-invalid-color);
        border-bottom: 1px solid var(--bs-form-invalid-color);
    }

    &.valid {
        input {
            border-left-color  : var(--bs-form-valid-color) !important;
            border-bottom-color: var(--bs-form-valid-color) !important;
        }
    }
}

p-dropdown {
    &.required {
        &>div:not(.p-dropdown-filter-container) {
            border-left  : 3px solid var(--bs-form-invalid-color);
            border-bottom: 1px solid var(--bs-form-invalid-color);
        }
    }

    &.valid {
        &>div {
            border-left-color  : var(--bs-form-valid-color) !important;
            border-bottom-color: var(--bs-form-valid-color) !important;
        }
    }

    .p-dropdown-filter.p-inputtext.p-component {
        width: 100%;
    }
}

p-inputnumber.form-control {
    padding: 0;

    & span {
        width: 100%;
    }

    & .p-inputnumber-clear-icon {
        width: fit-content !important;
    }
}

p-editor {
    &.required {
        & .p-editor-content {
            border-left  : 3px solid var(--bs-form-invalid-color) !important;
            border-bottom: 1px solid var(--bs-form-invalid-color) !important;
        }
    }

    &.valid {
        & .p-editor-content {
            border-left-color  : var(--bs-form-valid-color) !important;
            border-bottom-color: var(--bs-form-valid-color) !important;
        }
    }
}

p-checkbox {
    &.required {
        & .p-checkbox-box {
            border-left  : 2px solid var(--bs-form-invalid-color) !important;
            border-bottom: 2px solid var(--bs-form-invalid-color) !important;
        }
    }

    &.valid {
        & .p-checkbox-box {
            border-left-color  : var(--bs-form-valid-color) !important;
            border-bottom-color: var(--bs-form-valid-color) !important;
        }
    }
}


.swal2-toast-shown .swal2-container {
    width: 450px !important;
}

.swal2-popup.swal2-toast .swal2-actions {
    justify-content: center !important;
    margin         : 0px !important;
    padding        : 0px !important;
}

p-dropdown.p-element {
    height    : 33.6px;
    max-height: 33.6px;
    // display: grid;
    display   : block;

    & div.p-dropdown.p-component {
        height    : 33.6px;
        max-height: 33.6px;
    }
}

datatable {
    span,
    input {
        font-size: var(--font-size-default);
    }
}

.p-radiobutton-disabled {
    cursor: default;
}

.footer {
    p-tieredmenu {
        position: absolute;
        &>div.p-tieredmenu {
            position : sticky;
            transform: translateY(-100%);
        }
    }
}
