.required {
    border-left  : 3px solid var(--bs-form-invalid-color);
    border-bottom: 1px solid var(--bs-form-invalid-color);

    &.valid {
        border-left-color: var(--bs-form-valid-color);
        border-bottom-color: var(--bs-form-valid-color);
    }
}

input-password:has(input.required) {
    p-inputgroupaddon {
        border-bottom: 1px solid var(--bs-form-invalid-color);
    }
}
input-password:has(input.required.valid) {
    p-inputgroupaddon {
        border-bottom-color: var(--bs-form-valid-color);
    }
}
