.required:has(input) {
    input {
        border-left  : 3px solid var(--bs-form-invalid-color);
        border-bottom: 1px solid var(--bs-form-invalid-color);
    }

    &.valid {
        input {
            border-left-color  : var(--bs-form-valid-color);
            border-bottom-color: var(--bs-form-valid-color);
        }
    }
}

input {
    &.required {
        border-left  : 3px solid var(--bs-form-invalid-color);
        border-bottom: 1px solid var(--bs-form-invalid-color);
    }

    &.valid {
        border-left-color  : var(--bs-form-valid-color);
        border-bottom-color: var(--bs-form-valid-color);
    }
}

p-dropdown {
    &.required {
        &>div {
            border-left  : 3px solid var(--bs-form-invalid-color);
            border-bottom: 1px solid var(--bs-form-invalid-color);
        }
    }

    &.valid {
        &>div {
            border-left-color  : var(--bs-form-valid-color);
            border-bottom-color: var(--bs-form-valid-color);
        }
    }
}

p-inputnumber.form-control {
    padding: 0;

    & span {
        width: 100%;
    }

    & .p-inputnumber-clear-icon {
        width: fit-content !important;
    }
}

.swal2-toast-shown .swal2-container {
    width: 450px !important;
}

.swal2-popup.swal2-toast .swal2-actions {
    justify-content: center !important;
    margin         : 0px !important;
    padding        : 0px !important;
}
