@import './bootstrap/bootstrap';
@import './bootstrap/bootstrap-grid';
@import './bootstrap/bootstrap-reboot';
@import './bootstrap/bootstrap-utilities';

.p-inputtext {
    padding: 0.0rem 0.0rem;


    &:not(:has(.p-component)) {
        padding: 0.25rem 0.75rem;
    }

    &:enabled:focus {
        box-shadow: 0 0 0 0 #268fff80;
    }
}

.p-datatable {
    & .p-dropdown-label {
        & .p-inputtext {
            padding-right: 0px;
        }
    }

    & .filter-row {
        & div {
            & .p-dropdown {
                height                   : 100%;
                width                    : 100%;
                border-top-left-radius   : 0px;
                border-bottom-left-radius: 0px;
            }

            & p-dropdown.dropdown-filter {
                & span {
                    width: 70px;

                    &>div {
                        white-space  : nowrap;
                        text-overflow: ellipsis;
                        overflow     : hidden;
                    }
                }
            }
        }

        & div:not(.col) {
            & .p-dropdown {
                border-top-right-radius   : 0px;
                border-bottom-right-radius: 0px;
                border-top-left-radius    : 4px;
                border-bottom-left-radius : 4px;

                & .p-dropdown-label {
                    padding-left : 0.5rem;
                    padding-right: 0px;
                }

                & .p-dropdown-trigger {
                    width: 1.5rem;
                }
            }

            & .p-inputtext {
                border-top-left-radius   : 0px;
                border-bottom-left-radius: 0px;
            }
        }

    }
}

input.p-component {
    width: inherit;
}

p-progressspinner {
    position        : fixed;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
    display         : flex;
    text-align      : center;
    align-items     : center;
    z-index         : 9999;
    background-color: rgb(0 0 0 / 50%);

    & p-progress-spinner {
        position: relative;
        top     : auto;
        bottom  : auto;
    }
}

.p-overlaypanel .p-overlaypanel-content {
    padding  : 0.5rem;
    font-size: 12px;
}

.p-toast {
    font-size: 12px;
}

.p-submenu-list {
    border-radius   : 4px;
    background-color: var(--green-50);
}

.p-menubar {
    background   : var(--green-300);
    border-radius: 0px;

    & .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus>.p-menuitem-content,
    & .p-menuitem.p-highlight>.p-menuitem-content {
        background-color: var(--green-400);
    }

    & .p-menuitem:not(.p-highlight):not(.p-disabled):hover>.p-menuitem-content {
        background-color: var(--green-200);
    }
}

.p-menuitem>.p-menuitem-content .p-menuitem-link {
    padding: 0.5rem;
}

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-content .p-menuitem-link {

    & .p-menuitem-text,
    .p-menuitem-icon {
        color: var(--bs-emphasis-color);
    }
}

.p-tieredmenu.p-tieredmenu-overlay {
    background-color: var(--green-50);
}

.p-progress-spinner-svg {
    scale: 3;
}

.p-datatable .p-datatable-thead>tr>th {
    text-align  : left;
    padding     : 3px 10px;
    border      : 1px solid #dee2e6;
    border-width: 1px 0 2px 1px;
    font-weight : 600;
    color       : #212529;
    background  : #ffffff;
    transition  : box-shadow 0.15s;
}

.p-datatable .p-datatable-tbody>tr>td {
    text-align     : left;
    border         : 1px solid #dee2e6;
    border-width   : 1px 0 1px 1px;
    // padding     : 3px 4rem;
    padding        : 3px;
}

p-fileupload {
    & p-progressbar {
        display: none
    }
}

uploadfile {
    & .p-datatable {
        & .p-datatable-wrapper {
            min-height: 0px !important;
        }
    }
}

.p-datatable {
    &>& p-overlay & .p-overlay.p-component {
        z-index: 10000 !important;
    }

    &>.p-datatable-wrapper {
        overflow  : inherit;
        min-height: 50vh;
    }
}

div.p-datatable-gridlines.p-datatable.p-component {
    overflow: auto;
}

p-overlay {
    height  : 26px;
    position: absolute;
    top     : 26px;

    & div.p-overlay.p-component {
        position: sticky;
    }
}

p-paginator {
    p-overlay {
        top: auto;
    }

    & div.p-overlay.p-component {
        transform: translateY(calc(-100%));
    }
}

p-tablecheckbox {
    &>div.p-checkbox.p-component {
        place-content: center;
    }
}

p-dropdown {
    &.w-100 {
        &>div {
            width: 100%;
        }
    }

    & span {
        .p-dropdown-label.p-inputtext {
            padding-right: 20px;
        }
    }
}

p-calendar {
    &>span {
        width: 100%;
    }
}

.mobile-menu {
    .p-menubar-root-list {
        width      : 90%;
        margin-left: 2rem;
    }

    li.p-menuitem {
        width: 90%;
    }
}

barsicon {
    scale      : 2;
    margin-left: 2rem;
}


.p-stepper-header.p-disabled {
    background: none !important;
}

p-overlay div.p-overlay.p-component {
    max-width: 70vw;
}

.p-fileupload-content .p-progressbar {
    position: relative;
    height  : 20px;
}

p-card {
    .p-card-content {
        padding: 0 !important;
    }
}

p-timeline {
    .p-timeline-event-opposite {
        max-width: fit-content;
    }

    .p-timeline-event-opposite,
    // .p-timeline-event-separator,
    .p-timeline-event-content {
        align-self: center;
    }

    .p-timeline-event-content {
        padding-top: 5px;
    }

    // .p-timeline-event {
    //     padding-top: 15px;
    // }

    // .p-timeline-event-connector {

    // }

}
