$numero-de-colunas: 24;

$tamanhos-de-tela: (sm: 1024px,
    md: 1280px,
    lg: 1440px,
    xl: 1680px);

@for $i from $numero-de-colunas to 0 {
    .col-sm-#{$i} {
        @media (min-width: map-get($tamanhos-de-tela, sm)) {
            flex     : 0 0 percentage(calc($i / $numero-de-colunas)) !important;
            max-width: percentage(calc($i / $numero-de-colunas)) !important;
            height   : 100%;
        }
    }
}

@for $i from $numero-de-colunas to 0 {
    .col-md-#{$i} {
        @media (min-width: map-get($tamanhos-de-tela, md)) {
            flex     : 0 0 percentage(calc($i / $numero-de-colunas)) !important;
            max-width: percentage(calc($i / $numero-de-colunas)) !important;
            height   : 100%;
        }
    }
}

@for $i from $numero-de-colunas to 0 {
    .col-lg-#{$i} {
        @media (min-width: map-get($tamanhos-de-tela, lg)) {
            flex     : 0 0 percentage(calc($i / $numero-de-colunas)) !important;
            max-width: percentage(calc($i / $numero-de-colunas)) !important;
            height   : 100%;
        }
    }
}

@for $i from $numero-de-colunas to 0 {
    .col-xl-#{$i} {
        @media (min-width: map-get($tamanhos-de-tela, xl)) {
            flex     : 0 0 percentage(calc($i / $numero-de-colunas)) !important;
            max-width: percentage(calc($i / $numero-de-colunas)) !important;
            height   : 100%;
        }
    }
}

@for $i from $numero-de-colunas to 0 {
    .col-#{$i} {
        flex     : 0 0 percentage(calc($i / $numero-de-colunas));
        max-width: percentage(calc($i / $numero-de-colunas));
        height   : 100%;
    }
}

@for $i from $numero-de-colunas to 0 {
    .offset-sm-#{$i} {
        @media (min-width: map-get($tamanhos-de-tela, sm)) {
            margin-left: percentage(calc($i / $numero-de-colunas)) !important;
            height     : 100%;
        }
    }
}

@for $i from $numero-de-colunas to 0 {
    .offset-md-#{$i} {
        @media (min-width: map-get($tamanhos-de-tela, md)) {
            margin-left: percentage(calc($i / $numero-de-colunas)) !important;
            height     : 100%;
        }
    }
}

@for $i from $numero-de-colunas to 0 {
    .offset-lg-#{$i} {
        @media (min-width: map-get($tamanhos-de-tela, lg)) {
            margin-left: percentage(calc($i / $numero-de-colunas)) !important;
            height     : 100%;
        }
    }
}

@for $i from $numero-de-colunas to 0 {
    .offset-xl-#{$i} {
        @media (min-width: map-get($tamanhos-de-tela, xl)) {
            margin-left: percentage(calc($i / $numero-de-colunas)) !important;
            height     : 100%;
        }
    }
}

@for $i from $numero-de-colunas to 0 {
    .offset-#{$i} {
        margin-left: percentage(calc($i / $numero-de-colunas));
        height     : 100%;
    }
}
