<p-progressSpinner *ngIf="facades.size()" ariaLabel="loading" animationDuration="3"></p-progressSpinner>
<div class="container-fluid pt-1" [ngStyle]="{'padding-bottom': showFooter() ? '3.75rem' : '0.25rem'}">
    <form-base #formBase>
        <div class="p-2 py-3 mt-2">
            <div class="row">
                <div class="col-24">
                    <h1 class="m-0">{{title}}</h1>
                </div>
            </div>
            <hr class="mt-2 border border-success mx-3">
            <div class="ng-content">
                <ng-content></ng-content>
            </div>
        </div>
    </form-base>
</div>
<div class="footer px-3" *ngIf="showFooter()">
    <button *ngIf="showButtons('cancelar')" class="btn btn-md btn-secondary" (click)="onClickCancelar()">
        Cancelar
    </button>
</div>
