.footer {
    background-color: var(--green-300);
    width: 100%;
    position: fixed;
    bottom: 0;
    display: inline-table;
    padding: 5px;
    height: 40px;
    max-height: 40px;
    z-index: 1003;
}
