<p-progressSpinner *ngIf="facades.size()" ariaLabel="loading" animationDuration="3"></p-progressSpinner>
<div class="container-fluid pt-1" [ngStyle]="{'padding-bottom': showFooter() ? '3.75rem' : '0.25rem'}">
    <form-base #formBase>
        <div class="p-2 py-3 mt-2">
            <div class="row" *ngIf="showHeader()">
                <div class="col-24">
                    <b class="m-0" [ngClass]="titleClass">{{title}}</b>
                </div>
                <hr class="mt-2 border border-success mx-3">
            </div>
            <div class="ng-content">
                <ng-content></ng-content>
            </div>
        </div>
    </form-base>
</div>
<div class="footer px-3 d-flex no-print" *ngIf="showFooter()">
    <ng-content select="[bbuttons]"></ng-content>
    <button *ngIf="showButtons('salvar')" class="btn btn-sm btn-primary me-2" (click)="onClickSalvar()">
        <i class="fa fa-inbox-arrow-down me-1"></i>
        Salvar
    </button>
    <button *ngIf="showButtons('excluir') && objectUpdating()" class="btn btn-sm btn-danger me-2"
        (click)="onClickExcluir()">
        <i class="fa fa-trash-alt me-1"></i>
        Excluir
    </button>
    <button *ngIf="showButtons('cancelar')" class="btn btn-sm btn-secondary" (click)="onClickCancelar()">
        <i class="fa fa-ban me-1"></i>
        Cancelar
    </button>
    <ng-content select="[abuttons]"></ng-content>
    <div class="ms-auto">
        <ng-content select="[arbuttons]"></ng-content>
    </div>
</div>
